# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore uploaded files in development and any SQLite databases
/storage/*
!/storage/.keep
*.sqlite3
*.sqlite3-*

/vendor/*
